body {
  background-color: #f4f0bb;
  color: #43291f;
}
@media screen and (max-width: 789px) {
  .validation_results_container {
    display:none;

  }
}
@media screen and (min-width: 789px) {
  .validation_result_text_on_mobile {
    display:none;

  }
}
.validation_result_text_on_mobile {
  color: #da2c38;
  margin-bottom: 18px;
}
.custom-container-style {
  width: 90%;
  margin: 30px auto;
  padding: 0;
}
.register-here {
  margin: 5% auto;
}
.form-control {
  border: 1px solid #226f54;
  color: #43291f;
}
.custom-form-style {
  float: left;
}
.form-control:focus {
  -webkit-box-shadow: 0  0 9px 0 rgba(34,111,84,0.76);
  -moz-box-shadow: 0 0 9px 0 rgba(34,111,84,0.76);
  box-shadow: 0 0 9px 0 rgba(34,111,84,0.76);
  border: 1px solid #226f54;
}
.form-control::-moz-placeholder {
  color: #87c38f;
  opacity: 1;
}
.validation_results_container {
  float: left;
  margin-top: 60px;
  padding-left:0;
  padding-right:0;
}
.single_validation_result_container {
  height: 48px;
  margin: 27px 0;
  padding:0;
}
.validation_result_text {
  border: solid 1px #da2c38;
  border-radius: 4px;
  padding: 3%;
  background-color: #da2c38;
  color: #fff;
  display: inline-block;

}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #da2c38;
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
}
button.custom-button-style {
  background-color: #da2c38;
  margin-top: 30px;
  width: 100%;
  color: #fff;
}
button.custom-button-style:hover{
  color:#f4f0bb;
}
/*footer {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: absolute;
  width: 100%;
}*/

