body {
  background-color: #f4f0bb;
  color: #43291f;
}
.custom-container-style {
  width: 1000px;
  margin: 30px auto;
  padding: 0;
}
.top-logo {
  background-color: #87c38f;
  padding: 0;
  height: 70px;
  color: #fff;

}
.logo_text {
  margin: 0;
  padding-left:100px;
}
.logo_image{
  /*background: url('/assets/openchat_logo.png') no-repeat left;*/
  width: 700px;
  height:70px;
  padding-top:10px;
  margin-left:20px;

}
.big_logo {
  background: url('/assets/logo_big.png') no-repeat left;
  width: 316px;
  height:270px;
  margin-right: 40px;
}
.register-here {
  margin: 5% auto;
}
.form-control {
  border: 1px solid #226f54;
  color: #43291f;
}
.custom-form-style {
  float: left;
}
.form-control:focus {
  -webkit-box-shadow: 0  0 9px 0 rgba(34,111,84,0.76);
  -moz-box-shadow: 0 0 9px 0 rgba(34,111,84,0.76);
  box-shadow: 0 0 9px 0 rgba(34,111,84,0.76);
  border: 1px solid #226f54;
}
.form-control::-moz-placeholder {
  color: #87c38f;
  opacity: 1;
}
.validation_results_container {
  float: left;
  margin-top: 60px;
}
.single_validation_result_container {
  height: 48px;
  width: 300px;
  margin: 27px 0;
}
.validation_result_text {
  border: solid 1px #da2c38;
  border-radius: 4px;
  padding: 3%;
  background-color: #da2c38;
  color: #fff;
  display: inline-block;

}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #da2c38;
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
}
button.custom-button-style {
  background-color: #da2c38;
  margin-top: 30px;
  width: 100%;
  color: #fff;
}
button.custom-button-style:hover{
  color:#f4f0bb;
}
/*footer {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: absolute;
  width: 100%;
}*/

