body {
  color: #ff7f11;
  background-color: #111111 ;
}

@media screen and (max-width: 789px) {
  .validation_results_container {
    display:none;
}
}
@media screen and (min-width: 789px) {
  .validation_result_text_on_mobile {
    display:none;

  }
}
.logo_img {
  margin-top:10%;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.62);
  -moz-box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.62);
  box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.62);

}
.validation_result_text_on_mobile {
  color: #ff1b1c;
  margin-bottom: 18px;
}
.custom-container-style {
  width: 90%;
  margin: 30px auto;
  padding: 0;
}
.register-here {
  margin: 5% auto;
}
.form-control {
  border: 1px solid #d28630;
  color: #43291f;
}
.custom-form-style {
  float: left;
}
.form-control:focus {
  -webkit-box-shadow: 0  0 9px 0 #beb7a4;
  -moz-box-shadow: 0 0 9px 0 #beb7a4;
  box-shadow: 0 0 9px 0 #beb7a4;
  border: 1px solid #beb7a4;
}
.form-control::-moz-placeholder {
  color: #beb7a4;
  opacity: 1;
}
.validation_results_container {
  float: left;
  margin-top: 60px;
  padding-left:0;
  padding-right:0;
}
.single_validation_result_container {
  height: 48px;
  margin: 27px 0;
  padding:0;
}
.validation_result_text {
  border: solid 1px #ff1b1c;
  border-radius: 4px;
  padding: 3%;
  background-color: #ff1b1c;
  color: #beb7a4;
  display: inline-block;

}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ff1b1c;
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
}
button.custom-button-style {
  background-color: #ff1b1c;
  margin-top: 30px;
  width: 100%;
  color: #fffffc;
}
button.custom-button-style:hover{
  color:#fffffc;
}


