<h1>chat box</h1>
<ul>
  {{#each messages as |message|}}
    <li>{{message.content}}</li>
  {{/each}}
</ul>

{{ input type="text" key-press="handleMessageSending(message, target)" value=message class="form-control"}}