<form>
  {{input type="text" value=username}}
  {{input type="text" value=email}}
  {{input type="password" value=password}}
  {{input type="password" value=confirmPassword}}
  <button type="submit">register</button>
</form>