<form>
  <div>
    <label for="username">Username</label>
    {{ input type="text" value=username.value id="username" class="form-control"
             name="username" aria-describedby="usernameHelpBlock" key-up=(action 'onUsernameChange') }}

    {{#if username.errors}}
      {{#if username.errors.maxLength}}
        <div class="alert alert-danger">
          <div>
            Username must contain max 30 characters.
          </div>
        </div>
      {{/if}}

      {{#if username.errors.minLength}}
        <div class="alert alert-danger">
          <div>
            Username must contain min 6 characters.
          </div>
        </div>
      {{/if}}

    {{/if}}

  </div>

  <div>
    <label for="email">Email</label>
    {{ input type="text" value=email id="email" class="form-control"
             name="email" aria-describedby="emailHelpBlock" }}
    <div class="alert alert-danger">
      <div>
        Email is required.
      </div>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    {{ input type="password" value=password id="password" class="form-control"
             name="password" aria-describedby="passwordHelpBlock" }}
    <div class="alert alert-danger">
      <div>
        password is required.
      </div>
    </div>
  </div>

  <div>
    <label for="confirmPassword">Confirm Password</label>
    {{ input type="password" value=confirmPassword id="confirmPassword" class="form-control"
             name="confirmPassword" aria-describedby="confirmPasswordHelpBlock" }}
    <div class="alert alert-danger">
      <div>
        password is required.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>